[2016-03-29 20:55] vankasteelj opened #1 "codec support isn't full"
Hi,

I tried your prebuilt libs, we used to have our own for 0.12.

But I encountered two issues:
1) HEVC has no image, only sound support
2) AVI files (probably mpeg2?) have no support at all

Is that normal behavior?

[2016-03-29 21:03] iteufel commented on #1
The supported formats should be the same as in Chrome.

[2016-03-29 21:13] vankasteelj commented on #1
oh, ok. Then it's normal behavior. Chrome supports not much. Not enough for a desktop app

[2016-03-29 23:51] vankasteelj commented on #1
I'm trying to build it myself, to add broader codecs, but without success. It errors all the way because of python being in ascii instead of utf8, so the only way around it I found was to change the scripts called by `gclient runhooks` with an additionnal line for `sys.setdefaultencoding('utf8')`, but it still errors out because of multiple "Resource id not set"

And if I try to ninja, it warns me

[2016-03-30 00:21] vankasteelj commented on #1
Would you maybe like to help us on the compilation of ffmpeg for https://github.com/butterproject/butter-desktop? We have a list of custom patches that were used on 0.12.2 to add support for almost all video files out there, and we'd like to move on to 0.13 to maybe avoid a painful switch to wcjs.

[2016-03-30 20:10] vankasteelj commented on #1
Here are my progresses: https://github.com/butterproject/butter-desktop/issues/339#issuecomment-203573198

[2016-04-10 23:07] vankasteelj commented on #1
avi seems really a no-go. It might be possible if someone knows C.

[2016-05-06 08:54] #1 closed

[2016-08-01 08:09] amilajack opened #2 "Question: Support for matroska?"
Does this support this `ogg,matroska,wav` demuxers and the `theora,vorbis,vp8,pcm_u8,pcm_s16le,pcm_s24le,pcm_f32le,pcm_s16be,pcm_s24be` codecs? I couldn't find a list in the readme of what this project supports.

[2016-08-01 12:57] iteufel commented on #2
@amilajack  The supported formats are

- decoder: vorbis, pcm_u8,pcm_s16le, pcm_s24le, pcm_s32le, pcm_f32le, pcm_s16be, pcm_s24be, pcm_mulaw, pcm_alaw, theora, vp8, aac, h264, mp3

- demuxer: ogg, matroska, wav, aac, mp3, mov

- parser: opus, vorbis, vp3, vp8, aac, h264, mpegaudio

You can find the config files [here](https://chromium.googlesource.com/chromium/third_party/ffmpeg/+/master/chromium/

[2016-08-01 16:55] amilajack commented on #2
Thanks!

[2016-08-02 18:07] #2 closed

[2016-09-03 17:23] Yonezpt opened #3 "[question] Is the python builder dependent on NWJS version?"
I have been trying to understand if the ffmpeg.dll builder depends on the NWJS versions or just Chromium releases, but I cannot find a clear indication of this. My concern is related to building a binary that is for an old NWJS version that is no longer compatible with any future release, but if this is only depending on Chromium releases then it won't matter which is the latest NWJS version, unle

[2016-09-03 17:39] iteufel commented on #3
The builder is using the nwjs fork of chromium https://github.com/nwjs/chromium.src to build the dlls.
You can use `--nw_version` to set the nwjs branch (13, 14, 14, 16).

But can't build nw17 dlls with the current version because nw17 is using GN instead of GYP.
But i'm working on it. 😎

[2016-09-03 17:51] Yonezpt commented on #3
Ahh, I see now: https://github.com/iteufel/nwjs-ffmpeg-prebuilt/blob/master/build_ffmpeg.py#L48

So for now the current instructions in your repo will not work for building a ffmpeg for NWJS17?

Also noticed the NWJS documentation is still using GYP for build instructions of the ffmpeg: http://docs.nwjs.io/en/latest/For%20Developers/Enable%20Proprietary%20Codecs

Shouldn't these be updated to incl

[2016-09-06 06:37] ghostoy opened #4 "Update build steps for nw 0.17.0 with GN tool"
@iteufel We started to use GN tool to build NW.js since 0.17.0. The new instruction is in here nwjs/nw.js#5272.

[2016-09-06 16:00] iteufel commented on #4
@ghostoy thanks for the update but i have problems building it on osx

    configs -= [ "//build/config/compiler:default_stack_frames" ]
                 ^---------------------------------------------
You were trying to remove "//build/config/compiler:default_stack_frames"
from the list but it wasn't there.
See //BUILD.gn:3:9: which caused the file to be included.
        "//third_party/ffmpeg"

[2016-09-07 02:37] ghostoy commented on #4
@iteufel The steps works on my mac. The error is caused by you checked out at a wrong commit. The commit of ffmpeg works with nw17 is `d45f90eac6d5eb22be6120b1f7cb145f7a7c88b0`. And the dependency to the config was introduced in `35740fc7b72ac1d9adff69e67f3f61b639484dc3`, which is beyond the required commit.

It should be caused by a misuse of `-o` option with `git clone` in your `build_ffmpeg.py`

[2016-09-12 15:16] #4 closed

[2016-09-12 15:16] #3 closed

[2016-09-19 00:38] Yonezpt opened #7 "Codec range is not in harmony with Chrome's"
Right now I was trying to watch the emmys live stream in YouTube via NWJS with the `ffmpeg.dll` released here, but failed all the time. Tried watching the same stream on Chrome and it works perfectly (HTML5, it never switches to the flash player like a few videos do).
Debugging allowed me to find that the problem lies with the lack of M4A codec in the dll. To confirm this I tested the same situati

[2016-09-19 01:09] Yonezpt commented on #7
Nevermind, I was using a very outdated dll and thought in error that I was using the most recent. Using the most recent version release of the dll shows no problems with M4A support.

[2016-09-19 01:09] #7 closed

[2016-10-19 21:37] team-pct opened #15 "Building FFmpeg for Windows with proprietary codecs"
I was able to build for all OS except windows any better method ( With Proprietary codec true )

[2016-10-19 22:28] vzamanillo commented on #15
Could you please share the python trace back?

[2016-10-19 22:33] vzamanillo commented on #15
@iteufel are you experiencing problems with the latest commit building on Windows?

[2016-10-20 07:25] team-pct commented on #15
@vzamanillo i was able to build Windows X64 Nwjs ( with normal ffmpeg)  X86 i will try today
But Ffmpeg i was unable at all , so far i was able to exec the build_ffmpeg on cygwin but i am getting a weird errors like LIBCMT.lib is missing

[2016-10-20 07:33] vzamanillo commented on #15
I am testing the ffmpeg windows build with proprietary codecs right now, I'll let you know.

[2016-10-20 16:48] vzamanillo commented on #15
It is very difficult to make this work, I could do a manual configuration with VS2015 and msys2 but requires a lot of tweaks in the chromium configuration script on `third_party/ffmpeg/chromium/scripts/build_ffmpeg.py` so I think I will try with CygWin again.

A very important question is that the needed dev dependencies are missing, should be in `src/third_party/ffmpeg/chromium/include/win` so we

[2016-10-21 14:13] vzamanillo commented on #15
@team-pct Could you please test your Nwjs build (for x64) with the attached ffmpeg library with AC3 support (for 0.18.1)?

[ffmpeg.zip](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/files/544485/ffmpeg.zip)

[2016-10-21 20:19] team-pct commented on #15
Working just fine !  ( missing AVI )
you can try yourself http://get.popcorntime.sh/repo/nw/v0.18.1/

We miss only win32 NWJS + ffmpeg for WIN32

[2016-10-21 20:32] vzamanillo commented on #15
@team-pct Thank you very much for testing!

I am still working in the script for the ia32 version.

I will do a review for AVI support too, I'll keep you informed.

[2016-10-22 01:28] vzamanillo commented on #15
[Building on Windows with proprietary codecs](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/blob/master/guides/build_windows.md#build-ffmpegdll-with-proprietary-codecs)

Now everyone can build FFmpeg with proprietary codecs on Windows with the script.

[2016-10-22 07:47] team-pct commented on #15
@vzamanillo i was not able to build nwjs for win32 any luck on your side?
I tried those args

[2016-10-22 09:02] vzamanillo commented on #15
Unresolved externals?  I was not able to build too with mse_mpeg2ts

[2016-10-22 09:03] team-pct commented on #15
It stop on Bluetooth files after 17000 files compiled

[2016-10-22 09:05] vzamanillo commented on #15
Oh my god...

Could you please paste the output log?

[2016-10-22 09:30] vzamanillo commented on #15
@team-pct maybe this will be useful https://groups.google.com/a/chromium.org/forum/m/#!topic/chromium-dev/wss2Z0CyMDs

[2016-10-22 10:03] team-pct commented on #15
Windows 10 SDK ok !
I will start another VPS and compile and let you know thank you for your help ! really appreciate it

[2016-10-22 10:21] vzamanillo commented on #15
You are welcome :)

[2016-10-22 17:02] wallydz commented on #15
https://ci.popcorntime.sh/job/Popcorn-Time-Desktop/166 Includes a new NWJS + your FFMPEG

[2016-10-22 17:03] team-pct commented on #15
https://ci.popcorntime.sh/job/Popcorn-Time-Desktop/166 Includes a new NWJS + your FFMPEG

[2016-10-22 17:03] #15 closed

[2016-10-25 10:56] wallydz opened #17 "[Suggestion] Make a Multi OS ffmpeg_generated.gni"
Hello,

Why not make it this way?

Every nwjs version have its own branch + instead of compiling and let the user / other coders fight with Compiling why not include Ffmpeg_generated.gni for all the OS ready + chromium/config/Chrome for all OS which will make the work really easier , we wont need build_ffmpeg.py anymore

[2016-10-25 11:30] vzamanillo commented on #17
The actual implementation to build FFmpeg with proprietary codecs generates the configuration and builds the library as Google does, with the `build_ffmpeg.py` script it is easy to configure and build the library by everyone, with the default or custom configuration.

If I am understanding your suggestion correctly, someone (me, or iteufel) should generate the configuration for every NWjs version

[2016-10-25 14:37] francc opened #18 "32-bit version ZIPs of 0.18.2 contains the 64-bit version"
Both 32-bit and 64-bit ZIP files contain the same 64-bit version and the 32-bit version is missing. This affects the win and linux ZIP files.

[2016-10-25 15:38] vzamanillo commented on #18
Platform mismatch when building, sorry, solved, thank you.

[2016-10-25 15:38] #18 closed

[2016-10-31 06:12] #17 closed

[2016-11-02 17:35] vzamanillo opened #19 "Incorrect release zip file scheme"
We expected `{nw_version}-{platform}-{arch}.zip`, an example

`0.18.4-linux-x64.zip`

but we are getting

`v0.18.4-linux-x64.zip`

and the target platform is incorrect for OS X too, the file should be

`0.18.4-osx-x64.zip`

and we are getting

`0.18.4-mac-x64.zip`

[2016-11-02 20:51] Kagami opened #20 "Use --proprietary_codecs for prebuilt binaries?"
Hi.

As far as I can understand, you don't enable `-pc` flag for your prebuilt binaries, only MP3, AAC and H.264 are available in addition to roality-free formats (i.e. formats like H.265, AC3, MPEG-2 won't work). So my question is: is there any reason for this, and do you plan to release binaries with that configure patch applied?

Thanks.

[2016-11-02 21:50] vzamanillo commented on #20
Hi!

from the [Chromium credits](https://chromium.googlesource.com/chromium/third_party/ffmpeg.git/+/master/CREDITS.chromium)

we simply offer the posibility to build a custom library to everyone but we can not do prebuilt a library with proprietary codecs due to possible license problems or obligations... sorry.

[2016-11-02 21:53] #19 closed

[2016-11-02 21:59] Kagami commented on #20
Are you sure `--enable-nonfree` is required for that flags in the patch? Grep on ffmpeg's `configure` gives:

[code]

Only some encoders, cuda and similar stuff.

[2016-11-02 22:10] vzamanillo commented on #20
Maybe is not required, I followed the Chromium instructions

But I am not really sure about the flag scope.

[2016-11-02 22:17] Kagami commented on #20
Fraunhofer AAC library and FAAC are AAC encoders. You don't need them for decoding (well, technically you can use libfdk for decoding too but ffmpeg has its own AAC decoder under LGPL).

[2016-11-02 22:37] vzamanillo commented on #20
So definitely we don't need the flag, then should be removed.

Could you please check the patches and give us any recommendation?

Thank you very much!

[2016-11-03 09:41] Kagami commented on #20
I think it's ok otherwise.

[2016-11-03 09:53] vzamanillo commented on #20
Thank you very much Kagami!

[2016-11-07 05:06] kkm opened #21 "GOOD JOB"
you save my time! I just want to say motivation for you.

[2016-11-07 07:56] vzamanillo commented on #21
Thank you very much, kkm :)

[2016-11-07 22:21] #20 closed

[2016-11-21 18:03] #21 closed

[2016-11-24 09:33] kkm opened #22 "H265 compile?"
Hi,

Is that possible?

[2016-11-25 13:27] sadikyalcin opened #23 "When will we have 0.18.8 ?"
Title says it all.. I can't build myself as I have an old version of Xcode which needs updating which requires updating OS which I can't do.

[2016-11-25 15:28] #23 closed

[2016-12-01 21:16] vzamanillo commented on #22
Hi kkm!

You can play with the proprietary [codecs patch](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/tree/master/patch) to add your desired decoder, demuxer or parser, then you could build your custom library using the `-pc` switch.

[2016-12-02 08:39] pro200 opened #24 "How should I use "prebuilt binaries"?"
I just replace "nwjs.app/Contents/Versions/<chromium-version>/nwjs Framework.framework/libffmpeg.dylib" to "prebuilt binary"

and  I used it like this, but it does not work.
[code]

[2016-12-02 09:25] vzamanillo commented on #24
Hi pro200.

Is not than simple, you need a custom build of NW.js (with proprietary codecs support) enabling extra demuxers and parsers to make it work, replacing the library is not enought.

[2016-12-04 10:06] vzamanillo opened #25 "With -pc build is broken with the latest Chromium versions"
[code]
Seems like Google completly removed GYP in favor of GN, our script needs to be modified to build the library with custom codecs using it.

[2016-12-04 10:19] #25 closed

[2016-12-07 11:45] kkm commented on #22
thanks but I did try with your guide windows on cygwin.
I dont understand why I cant comile in cygwin.

![capturei_2016127_12-45-13](https://cloud.githubusercontent.com/assets/134290/20966538/17241ecc-bc7b-11e6-9d0a-48d46674c077.png)

[2016-12-07 16:22] vzamanillo commented on #22
Could you please check your python installation with

`user@host:~$ which python`

from Cygwin console?

[2016-12-07 19:14] kkm commented on #22
/cygdrive/c/Python27/python

what windows version did you try? mine is win10 and 64bit

[2016-12-07 22:24] vzamanillo commented on #22
Try installing the python package on Cygwin and run the script with it.

[2016-12-08 06:51] kkm commented on #22
I uninstall python from windows and install python on official cygwin.
So I get the error message. And I hope you can fix for me.

![capturei_2016128_7-50-47](https://cloud.githubusercontent.com/assets/134290/21000418/0a006822-bd1b-11e6-91dc-75c5650252f7.png)

[2016-12-08 06:56] ghostoy commented on #22
@kkm As described in Google's doc https://www.chromium.org/developers/how-tos/install-depot-tools:

[2016-12-08 07:06] kkm commented on #22
Okay and I believe the url is incorrect.

Above screenshot says:

Look the url https://github.com/nwjs/chromium.src.git@tags/nw-v0.19.0 doesnt exists.

[2016-12-08 07:28] kkm commented on #22
raise CalledProcessError(retcode, cmd)
CalledProcessError: Command 'gclient config --unmanaged --name=src https://github.com/nwjs/chromium.src.git@tags/nw-v0.19.0' returned non-zero exit status 2

I believe url is incorrect https://github.com/nwjs/chromium.src.git@tags/nw-v0.19.0
and the guide from here says cygwin to use.

[2016-12-08 07:36] ghostoy commented on #22
@kkm I think the guide means Cygwin may **appear** to work, but actually failed to install 3rd party tools in the end.

On Windows, Chromium and ffmpeg are built with VS tool chain. You can't simply use tools in Cygwin to build it.

So do not use Cygwin.

The URL is correct and it should be the same URL used to build ffmpeg in this project.

[2016-12-08 12:23] kkm commented on #22
Yeah I finally made it.

1. install python2.7 on cygwin package
2. Download depot_tools from google chromium and seperate folder in the start of PATH.
then follow guide of here
3. build_ffmpeg_proprietary_codecs.patch doesnt work and I get error http://capturei.tikatoy.com/RDrw but I edit a bit patch then works finally..
https://gist.github.com/kkm/7c30aa8eb124c2ce9aee6f4d36be7176

[2016-12-08 20:32] vzamanillo commented on #22
@ghostoy, I did a build without problems for 18.x on Windows using Cygwin, but maybe the script is outdated due to some Google changes, I will take a look to fix it PRs are welcome too. Thank you all for helping us.

[2016-12-10 19:04] smolleyes opened #26 "nwjs build args to enable ac3 and hevc demuxing"
hello

i used your script to build libffmpeg.so against nw 0.19.1 but i need to build nwjs with proprietary codec

so i did it with

gn gen //out/nw  --args='is_debug=false is_component_ffmpeg=true target_cpu="x64" is_official_build=true ffmpeg_branding="Chrome" enable_nacl=true proprietary_codecs=true'

and nothing black screen on avi / ac3 not oworking etc

i tried with chromeOS as ffmpeg brandi

[2016-12-10 20:15] vzamanillo commented on #26
Hi @smolleyes !!

enabling the proprietary codecs interfaces is not enought, try adding

`proprietary_codecs=true enable_ac3_eac3_audio_demuxing=true enable_hevc_demuxing=true`

[2016-12-10 21:12] #24 closed

[2016-12-10 23:40] kkm commented on #22
@vzamanillo can you test for me? I can play from http://www.h265files.com/embed-h265-video.php h265 and .flv on <video>

I believe I need more tweak in chrome?
![capturei_20161211_0-39-27](https://cloud.githubusercontent.com/assets/134290/21076943/5f37119e-bf3a-11e6-851b-eca13eee2986.png)

[2016-12-11 00:50] smolleyes commented on #26
hello vzamanillo

yup seems working for ac3 but if i keep Chrome as ffmpeg_branding it does not decode avi files... with chromeOS it works but very bad decoding with "low" resolution file in nw 0.19.1 same thing for a 360p video from youtube (so mp4 or vp9) very strange

:(

[2016-12-11 01:28] kkm commented on #22
I did try https://tools.woolyss.com/html5-audio-video-tester/?u=www.cinemartin.com/cinec/_Sample_Videos/Hoid/Cinemartin_A001_C001_1008BA_2_H265_HEVC_RQ.mp4

this site can you test if you can play with hevc with custom ffmpeg compile. please test for  me.

[2016-12-13 20:13] sica07 commented on #22
I can confirm the issue. I get (almost) the same error:
[code]

[2016-12-13 20:44] vzamanillo commented on #22
@sica07 that issue is not related to the builder script, is related to a compiler error.

[2016-12-13 20:51] sica07 commented on #22
@vzamanillo thanks for the quick response. I'll try to figure it out and I'll announce if it will work (I really hope it will).

[2016-12-13 20:57] vzamanillo commented on #22
@kkm, Did you test with a custom NW.js build enabling the hevc demuxer?

@sica07, check the `build/src/third_party/ffmpeg/chromium/scripts/build.arch.host/` for a `config.log` open it an look for the last error.

[2016-12-13 22:01] sica07 commented on #22
@vzamanillo there is no such directory inside the scripts folder:
[code]

[2016-12-13 22:11] vzamanillo commented on #22
Seems like you missed some step configuring the build enviromnent.

[2016-12-13 22:14] sica07 commented on #22
I'll try it again tomorrow. Thank you for all the help!

[2016-12-14 02:33] kkm commented on #22
@vzamanillo I didnt know before about custom nwjs. I found e.g https://github.com/butterproject/nwjs-build/blob/master/build_linux64.sh#L69
I will try next year.

Thanks.

[2016-12-14 06:49] vzamanillo commented on #22
@kkm, I think that codebase is outdated. You need the same codebase, in this case 19.x

[2016-12-14 07:36] vzamanillo commented on #26
@smolleyes, thank you very much, dts/dtsh support should be great.

I have to do some changes related to patching on 19.x and test the build procedure on the common platforms again, my last builds did not give problems for the 18.x branch.

Related to AVI, I do not what the problem could be, but I don't think is directly related with Chrome, it's more about ffmpeg.

[2016-12-14 18:37] smolleyes commented on #26
hello

i ll add dtshd now and will try for wmv/a, to fix the problem with avi and chrome you just have to remove the '--disable-error-resilience' and it works but suck as ususal image is very slow and like "checking" strange... i ll keep my live transcoding for avi...

BRB for dtshd, ac3-dts seems already working :p

[2016-12-14 18:53] smolleyes commented on #26
very strange , many avi files works normally ... can t see any difference thru chrome://media-internals :/

[2016-12-14 22:16] vzamanillo commented on #26
@smolleyes, great! Good news!
Could you please post your changes (or do a PR)?

Thank you very much for your contribution!

[2016-12-15 19:59] smolleyes commented on #26
hello

no success for the moment will continue to work on this...

gclient or git clone is boring... too slow!!!!!!!

: Cloning Chromium source code for nw-0.19.2 in /opt/nwjs_build/build_dir/ffmpeg/nwjs-ffmpeg-prebuilt/build
Clonage dans 'src'...
remote: Counting objects: 228748, done.
remote: Compressing objects: 100% (176159/176159), done.
Réception d'objets:  35% (82110/228748), 253.38 MiB | *

[2016-12-15 20:03] smolleyes commented on #26
do you have an updated process to build on windows ? (wich vs / cygwin etc...) i made it with nwjs 0.7.3 a long time ago  and don t remember the process :p

thanks ;)

[2016-12-16 00:40] vzamanillo commented on #26
Not yet, sorry, the real life is too expensive about time. I will take a look, don't worry.

[2016-12-16 18:56] smolleyes commented on #26
ahah i agree ;) np, thanks

[2016-12-18 05:47] ghostoy opened #27 "Downloading libc++-static for macOS should be removed"
In nw19, `libc++-static` is not part of hooks in DEPS. It should be removed.

[2016-12-18 12:27] smolleyes opened #28 "error building 32bit linux"
hello

already had this error ?

python build_ffmpeg.py -c -nw 0.19.2 -ta ia32 -pc

everything fine then

[code]

thanks

[2016-12-18 13:00] vzamanillo commented on #28
Same for me :/

[2016-12-18 13:01] smolleyes commented on #28
damn :(

something changed in ffmpeg, was working before since you builded it :p

i search for changes in upstream

[2016-12-18 13:22] smolleyes commented on #28
it works if i use --disable-asm but don t know if it has side-effects :/

[2016-12-18 13:51] smolleyes commented on #28
main ffmpeg delevloper say:

<JEEB> that looks like a bug in clang 4 rather than FFmpeg, no?
 I mean, clang crashed
 also llvm+clang 4.0 isn't even stable yet
 see: http://llvm.org/
 so yes, go provide a bug report to the llvm+clang people
 it shouldn't crash

....

[2016-12-18 17:59] vzamanillo commented on #28
You are tenacious, thank you very much!

[2016-12-18 19:09] smolleyes commented on #28
yes... i do it once for all and next time in 3 years lol

[2016-12-19 06:12] vzamanillo commented on #27
@ghostoy, thank you very much for the advice, it will be removed.

[2016-12-19 06:51] #27 closed

[2016-12-19 17:45] vzamanillo commented on #28
Confirmed, the build ends with success disabling asm, thank you very much!!

[2016-12-19 19:31] vzamanillo commented on #28
Same asm related errors on building for windows x64

`../../third_party/ffmpeg/libavcodec/x86/vp8dsp_loopfilter.asm:1584: error: invalid size for operand 1`

[2016-12-19 22:33] vzamanillo commented on #26
The patch for building on windows has been updated for 19.x, but not all are good news, I am getting errors with asm when compiling the object code (with x64, I did not test with ia32)

`../../third_party/ffmpeg/libavcodec/x86/vp8dsp_loopfilter.asm:1584: error: invalid size for operand 1`

[2016-12-20 03:09] smolleyes opened #31 "error building on windows"
hi m8

the adventure continue, now on windows

i installed all the needed tools, build njws os ok , now ffmpeg under cygwin i have a strange error and it won  t build

configure / make ok then ... (installed yasm git diffutils and make thru cygwin installer)

[code]

to translate...
cl▒: Ligne de commande warning D9002▒: option '/home/sylvain/nwjs-ffmpeg-prebuilt/build/src/third_party/ffmpeg/libav

[2016-12-20 11:16] smolleyes commented on #31
ok fixed !

2 things

i had to be in /cygrive/c and not in /home, first error

second error, i had many cygwin_wrapper not available... i had to tweak the ninja command to use -j1 and not j8 and i have my zip build :)

maybe add an option to choose the number of threads for the build ?

thanks !

[2016-12-20 11:16] #31 closed

[2016-12-20 14:34] vzamanillo commented on #31
Hey!

Very good idea.

[2016-12-20 18:29] vzamanillo commented on #26
@smolleyes, is `dts` working? could you please do a PR or post your changes for `dts` support? I would like to include it for future patches.

[2017-01-09 16:36] blaremc opened #32 "Building with proprietary_codecs doesn't play avi files."
Hello!

I built library with flag -pc and without it. A sizes of .dylib are 4.2 MB and 2.6 MB respectively. Without any codecs the size of this library in original nwjs is 1.3 MB.
But there are not difference between 4.2 MB and 2.6 MB. It works the same.

OS X El Capitan 10.11.6
nwjs 19.4

[2017-01-09 16:48] vzamanillo commented on #32
You need a custom build of NW.js (with proprietary codecs support) enabling extra demuxers and parsers to make it work, replacing the library is not enough.

[2017-01-12 13:49] blaremc commented on #32
@vzamanillo and if i build only ffmpeg dll like this http://docs.nwjs.io/en/latest/For%20Developers/Enable%20Proprietary%20Codecs/#build-ffmpeg-dll-without-building-nwjs i couldn't play avi?
Or I need to build nwjs completely like this http://docs.nwjs.io/en/latest/For%20Developers/Enable%20Proprietary%20Codecs/#build-entire-nwjs-with-proprietary-codecs

[2017-01-15 15:52] LukasBombach commented on #32
First of all thank you for this awesome project.

+1 on this question though. What would it take to play XVID and other commonly used codecs and formats?

[2017-03-19 00:14] jmx opened #34 "Linux builds missing from releases"
Hi there - I've found this project useful for automating my integration of working ffmpeg with nwjs, however I've noticed for the last version (21.x) there are no longer linux 32 or 64 bit builds?

Is this an issue with your build system or are you no longer going to produce ffmpeg binaries for linux?

[2017-04-04 21:24] iteufel commented on #34
@jmx Linux builds are now working again.

[2017-04-04 21:24] #34 closed

[2017-06-07 00:46] notsospecial1 opened #36 "0.23.0 release fails on Win 10 (win-ia32 and win-x64) with nw.js0.23.0"
Entry Point Not Found

The procedure entry point av_sterror could not be located in the dynamic link library

... \nw.dll

[2017-06-07 06:23] iteufel commented on #36
@notsospecial1 thanks, i will fix the release.

[2017-06-07 08:13] yoko10000 commented on #36
me too

[2017-06-07 18:09] iteufel commented on #36
The release is fixed.

[2017-06-07 18:09] #36 closed

[2017-07-26 08:39] Ajeey opened #37 "Error "FAILED: genversion genversion.map.gz ""
I have cloned your repo and trying to build it via

`python build_ffmpeg.py  --target x64 --proprietary_codecs`

And I am getting the following error -

[code]

My OS version - Ubuntu 14.04 LTS

[2017-07-26 08:41] Ajeey opened #38 "[Question] Can I use nwjs-ffmpeg-prebuilt binary and distribute in a commercial app?"
Hi,

Can I use the nwjs-ffmpeg-prebuilt binaries and distribute in my nwjs app which is for commercial use?

[2017-07-26 19:09] M4TH76 opened #39 "[QUESTION] Does ffmpeg use hardware acceleration on Linux"
Hi
I'm using nwjs on Arch Linux to play h264 videos and It doesn't seem like the decoder use the GPU (intel I5 6gen)
I've checked with intel_gpu_top and the GPU doesn't go over 6-7% and CPU is 80-90%
Can nwjs-ffmpeg-prebuilt use HW acceleration?
Thanks for the help

[2017-07-26 19:51] iteufel commented on #39
@M4TH76
Try adding `--ignore-gpu-blacklist` to your [chromium-args](http://docs.nwjs.io/en/latest/References/Manifest%20Format/#chromium-args)
Open `chrome://gpu/` with nw.js and check if your GPU is blacklisted.
You can also try Installing the [mesa](https://www.archlinux.org/packages/extra/x86_64/mesa/) and  [libva-intel-driver](https://www.archlinux.org/packages/extra/x86_64/libva-intel-driver/

[2017-07-26 20:07] iteufel commented on #37
@Ajeey i'm working on it.

[2017-07-26 20:12] #28 closed

[2017-07-26 20:12] #26 closed

[2017-07-28 09:14] Pabloandumundu opened #40 "No 0.24.0-win-ia32.zip file"
Some kind of fault when you published:

There is no 0.24.0-win-ia32.zip file.
There is a file with name 0.24.0-win-x86.zip that is equal to 0.24.0-win-x64.zip

[2017-07-28 09:15] iteufel commented on #40
@Pabloandumundu  i will fix it.

[2017-07-28 09:17] Pabloandumundu commented on #40
thanks!

[2017-07-28 19:13] M4TH76 commented on #39
I've already added the arguments to chromium

Vainfo list h264 as supported

chrome://media-internals list video_decoder:ffmpeg... Instead of gpu..
That's why a asked if ffmpeg can use the gpu to decode video like it does on Windows

[2017-07-30 08:36] Ajeey commented on #39
@M4TH76 Any chance you enabled hardware acceleration on MAC? If yes, whats the approach you used?

[2017-07-31 03:54] phpjishu commented on #40
Or no 0.24.0-win-ia32.zip?

[2017-07-31 03:54] phpjishu commented on #40
Or no 0.24.0-win-ia32.zip? @iteufel

[2017-07-31 04:02] phpjishu opened #41 "Or no 0.24.0-win-ia32.zip?"
Or no 0.24.0-win-ia32.zip? @iteufel

[2017-07-31 07:04] M4TH76 commented on #39
@Ajeey sorry not a Mac user...

Bump...
Can nwjs-ffmpeg-prebuilt use HW acceleration?

[2017-08-02 06:52] Ajeey opened #42 "Build ffmpeg without software decoder and always use hardware decoder for h264"
Hi,

I was curious to know whether there is a way to build ffmpeg such that it always uses hardware decoder for h264 playback?

[2017-08-13 17:15] iteufel commented on #41
Is fixed.

[2017-08-13 17:15] #41 closed

[2017-08-13 17:15] iteufel commented on #40
Is fixed.

[2017-08-13 17:15] #40 closed

[2017-08-18 06:20] Ajeey commented on #42
@iteufel Any updates here?

[2017-08-20 20:03] mburakkalkan opened #43 "Black screen on H264 videos (0.14.7 win x64)"
I get black screen (but audio plays) with 0.14.7 windows x64 release on h264 videos.

`<video width="1280" height="720" controls>
	<source src="https://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4">
</video>`

[2017-08-20 21:26] mscreenie opened #44 "Build safety"
One of my clients may be using the prebuilt files in a Government project. Do you know how safe the files are and if they were built cleanly/securely? Were they built by yourself, and is there a way of validation? I hope your don't mind me asking. Thanks.

Planned usage of ffmpeg 32 bit.

[2017-09-11 19:26] frankhale opened #45 "0.25.0 release missing Windows and Linux"
Any plans on providing a Linux and Windows build of the 0.25 release? I noticed that only OSX is current provided in this release.

[2017-09-13 14:49] frankhale commented on #45
In lieu of having an official 0.25 release on Windows the 0.24 release works well with NW.js 0.25.

[2017-09-15 03:26] NemoAlex opened #46 "0.15.4"
Version: Windows ia32 0.15.4
After I replace the file, start `nw.exe` it alerts a message which points out I have some higher version of user contents, may cause problems.
Am I missing something?

[2017-09-15 12:27] frankhale commented on #45
Thank you!

[2017-09-15 12:27] #45 closed

[2017-10-31 01:08] mocudev commented on #39
From what I understand, you actually need to apply a patch to chromium in order to enable H.264 hardware accelerated decoding. I played around with it a little bit a while back and managed to produce a version of nwjs with H.264 hardware decode enabled.

I put up a repo that has the patches for nwjs 15 (I uploaded a binary version of nwjs also): https://github.com/mocudev/nwjs_linux_hwdecode

Ther

[2017-11-10 17:00] xcholar opened #47 "Build Error : Help"
I have cloned your repo and trying to build it via

python build_ffmpeg.py --target=x64

And I am getting the following error, I need your help, please!
-------------------------------------------------------------------------------
![default](https://user-images.githubusercontent.com/28098513/32669469-9ea37144-c67b-11e7-951a-1c08988eec88.png)

[2017-12-20 21:18] Asp3ctus opened #48 "Automate builds"
NW.js is releasing releases fast now days.
And builds here are posted much later

[2018-01-02 12:23] yoko10000 opened #49 "版本要赶紧升级哟！"
NW.js版本已经升级到0.27.3啦，大哥需要跟上节奏呢！
祝福你2018年好运！

[2018-01-09 16:32] sparkyb commented on #48
I agree. I don't mind waiting a little bit, but it's been over a month since NW.js 0.27 came out and there's still no ffmpeg prebuilt for any 0.27 version. Is this defunct, or are they still coming?

[2018-01-11 02:45] yoko10000 commented on #48
I agree.

[2018-01-11 04:22] MilenFrom commented on #48
I assume they're still coming.
I hope this year will have more time, I would like to help iteufel.

[2018-01-17 15:38] #49 closed

[2018-01-17 15:39] iteufel commented on #48
I have now Automated the builds on all platforms using Jenkins.

[2018-01-18 16:57] Asp3ctus commented on #48
Linux build still not available, will it be posted later ?

[2018-01-31 08:53] Extarys commented on #48
YAY! With the automated build process, in how long can we expect the 0.28.0 binaries for linux? :D

[2018-02-05 20:14] Asp3ctus commented on #48
i guess we need to close this issue

[2018-02-08 19:42] gpetrov commented on #48
@iteufel  where can we find the automated builds? As with the release I only see the 0.28.0 while 0.28.1 is already release few days ago.

Also do you think we can integrate them with tools like nwbuilder so they can be auto downloaded during the packaging?

[2018-02-09 11:39] smolleyes opened #50 "0.28.0 linux not working"
hi

just tried lastest .so with nwjs 0.28.0 (x64) and .1, nwjs won t decode anything, 0.28.1 coming soon ?

thanks m8

[2018-02-10 05:17] katananja opened #51 "0.28.0 does nothing on Opera"
Version `0.26-6` works, `0.28.0` does nothing, maybe is crashing.
I use this to decode youtube html5 by copying the `*.so` to Opera home folder at `/usr/lib/x86_64-linux-gnu/opera`

[2018-02-10 05:26] katananja commented on #51
I've downloaded again and it worked.

[2018-02-10 05:26] #51 closed

[2018-02-13 13:27] iteufel commented on #50
@smolleyes 0.28.1 is here.
I had some trouble on Linux x86 (https://bugs.chromium.org/p/chromium/issues/detail?id=796379).

[2018-02-13 13:27] #50 closed

[2018-02-13 13:29] iteufel commented on #47
Should be fixed now.

[2018-02-13 13:29] #46 closed

[2018-02-13 13:30] #43 closed

[2018-02-13 19:46] georgerizescu opened #52 "how to use libffmpeg.so"
i want to be able to play mp4 video/audio in my nwjs app on linux. i did this:
1. download nwjs 28.1 for linux from nwjs.io https://dl.nwjs.io/v0.28.1/nwjs-v0.28.1-linux-x64.tar.gz
2. download https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases/download/0.28.1/0.28.1-linux-x64.zip and extract libffmpeg.so to /lib in nwjs directory
yet, my app doesn’t play video or audio.
what i do wrong?

i g

[2018-02-14 09:15] iteufel commented on #52
@georgerizescu I have tested it on mint 18.3.
Can you provide me with more informations (distribution, version, …).

[2018-02-15 05:14] georgerizescu commented on #52
thank you for your fast reply.
i can confirm that is working, the problem was with the app itself (no acces for that server to the mp4 content). nwjw is version 0.28.1 and lib also version 0.28.1 running on linux centos 7.

[2018-02-15 05:14] #52 closed

[2018-02-25 12:05] smolleyes opened #53 "Linux broken?"
hi

spend few hours yesterday to build the 0.28.3 linux ffmpeg.so and have some difficulties:

deps are not installed, had to figure i needed ninja-build/clang/ldd/fuse-dev libavcodec-dev etc etc, then the patch for the -pc option is not working anymore had to change it (will provide pr if possible)

BUT the biggest problem is i ended with a 16.6 mo .so file without build error, but nwjs 0.28.3 wo

[2018-03-08 17:48] smolleyes commented on #53
hello

so.. finally i forked the butter project nwjs build script, fixed it and rebuilded a full nwjs with ffmpeg full codecs... play barely everything :)

updated build script here:
https://github.com/smolleyes/nwjs-build/blob/master/build_linux64.sh

and resulting nwjs 0.29.1 sdk linux-64 build here (builded on ubuntu 17.10, not tested on 16.04)
http://163.172.88.44/nwjs-builds/linux/64/nwjs_0.2

[2018-03-19 15:20] MaherFa opened #54 "[Question] confused if I need the rebuilt fmpeg.dll anymore"
I recently updated to NWJS 0.29.1 (win-x64) and started running some tests and I was surprised it was able to play MP3 files without me downloading the rebuilt ffmpeg

I came here and downloaded it anyway and it was just a little bit smaller in size than the one shipped with NWJS
so, now I'm confused! do we no longer need to download the rebuild ffmpeg or what, and what are the differences between

[2018-03-19 15:24] iteufel commented on #54
### In the pre-built NW.js, the following codecs are supported:
- theora
- vorbis
- vp8 & vp9
- pcm_u8, pcm_s16le, pcm_s24le, pcm_f32le, pcm_s16be & pcm_s24be
- mp3 (v0.22.1+)

###  nwjs-ffmpeg-prebuilt adds support for following formats
- aac
- h264

[2018-03-19 16:31] MaherFa commented on #54
this explains it all, thank you so much

[2018-03-19 16:53] #54 closed

[2018-04-08 05:13] hubuga opened #55 "MKV HEVC not working"
I just downloaded the latest version 0.29.3 and replaced the ffmpeg.dll file from the nw folder and trying to run a mkv hevc video file in a <video> tag and it only reproduced the audio, what is wrong?

[2018-04-18 07:51] kevinwright opened #56 "Build needed for 0.30.0"
The title says it all!

[2018-04-18 15:22] kkm opened #57 "From 28 no running with H264"
MediaRecorder and Webrtc dont work anymore in H264 encoder and decoder.
https://github.com/nwjs/nw.js/issues/6569

[2018-04-21 14:02] iteufel commented on #57
@kkm It seams that the build flag [RTC_USE_H264](https://github.com/nwjs/chromium.src/blob/nw30/content/renderer/media_recorder/video_track_recorder.cc#L33) is not set anymore.
WebRTC should work without FFmpeg it's using [openh264](https://github.com/nwjs/chromium.src/blob/45be0261c5a04cc38dead115740a8a6f7e6958a7/content/renderer/media_recorder/h264_encoder.cc#L13).

[2018-04-21 16:47] kkm commented on #57
Okay but I did try with open264 but it doesnt work. how can I set for SDP in H264?
Are you sure that WebRTC uses openh264? in Firefox works well with H264.

[2018-04-21 20:31] yoko10000 commented on #56
0.30.0-osx-x64.zip压缩包里是libffmpeg.dylib文件，不是ffmpeg.dll呢，麻烦请看一下，好吗？！谢谢！

[2018-04-24 10:16] luffs commented on #56
Any plans of building the 0.30.0 binaries for Windows? Were there problems with building them?
It would be really appreciated!

[2018-04-25 01:44] kkm commented on #57
https://github.com/nwjs/nw.js/issues/6569

[2018-04-25 01:44] #57 closed

[2018-04-28 17:05] frankhale commented on #56
Currently missing build for Windows. Are there currently issues which are causing it not to build?

[2018-05-03 15:29] iteufel commented on #56
Sorry for the late builds.
I had some problems switching to VS2017.

[2018-05-03 15:47] #56 closed

[2018-05-03 15:51] frankhale commented on #56
THANK YOU!

[2018-05-05 20:02] firohuber opened #58 "Build Erroe"
I get the following error

![ffmpeg](https://user-images.githubusercontent.com/34649089/39667143-4fd22f8e-50b8-11e8-8615-69b04e1039e2.JPG)

[2018-05-06 08:01] firohuber commented on #58
now I'm getting this error when running

`python build_ffmpeg.py -ta [x64] -pc`

![image](https://user-images.githubusercontent.com/34649089/39671238-c52bd406-511c-11e8-857a-1d75b1113320.png)

[2018-05-11 12:49] izure1 opened #59 "nwjs 0.30.3 crashes on windows"
Please understand that I use translator because it is not familiar with English.

I am using windows 10 64bit and build the application using nw-builder.
I also found a problem with version 0.30.2 and version 0.30.3 of ffmpeg.
The application crashes after it is started.

Are you experiencing the same symptoms?

[2018-05-14 07:22] firohuber opened #60 "Build Error"
I keep getting this error every time I run the script.
![image](https://user-images.githubusercontent.com/34649089/39983542-b3e55a06-5760-11e8-90b7-a22c8134a99a.png)

[2018-05-29 07:47] marc7000 opened #61 "Build Error with Ubuntu 18.04 and nw.js 0.30.0 / 5"
Hi

i have tried to build the libffmpeg.so with nwjs 0.30.0 and 0.30.5 (x64) under ubuntu 18.04 but i am getting some errors.
See output below...

[code]

[2018-05-30 16:33] frankhale commented on #59
Try using 0.30.5 (latest release today). Also it would be helpful if you posted a link to an example code that is producing this issue.

[2018-06-05 22:30] well0nez opened #62 "solved"
resolved

[2018-06-07 01:14] frankhale opened #63 "Need build for NW.js 0.31.0"
The 0.30.5 build doesn't work for NW.js 0.31.0. It would be really nice if there was a new build that would work with it.

[2018-06-08 13:56] luca-viggiani commented on #63
Same is for 0.31.1. nwjs crashes as soon as my contents tries to playback any mp3 files (works fine with default shipped ffmpeg)

[2018-06-11 12:55] #63 closed

[2018-06-11 12:55] frankhale commented on #63
Thank you for the updated builds!!!

[2018-06-11 19:16] #62 closed

[2018-08-21 23:22] thehovercam opened #64 "Blank Screen in latest 0.32.3_win_64 build"
Blank screen but Audio is going.  Any help on this?
[code]

[2018-08-22 00:48] thehovercam commented on #64
solved, the problem is I added "chromium-args": "--single-process" in nwjs

[2018-08-22 00:48] #64 closed

[2018-08-22 06:50] iteufel commented on #61
@marc7000 ubuntu 18.04 is currently not supported for building chromium.
14.4 and 16.4 should work fine.

https://chromium.googlesource.com/chromium/src/+/lkcr/docs/linux_build_instructions.md#System-requirements

[2018-08-22 06:51] #61 closed

[2018-08-23 09:44] marc7000 commented on #61
Thank you! I've tried it with 17.10.1 and it work too.

[2018-09-14 09:26] tangyue0924 opened #65 "Could you help me to generate a ffmpeg of 0.27.4 version ?"
Just v0.27.5 can be downloaded...
I really need the ffmpeg of 0.27.4 version..
Thanks a lot...
Need your help~

[2018-09-14 09:57] iteufel commented on #65
@tangyue0924  0.27.5 should work fine with 0.27.4

[2018-09-14 10:02] tangyue0924 commented on #65
Because of the same Chromium version ?

[2018-09-14 18:05] hamid-a opened #66 "chromium crashes at startup"
My chromium browser crashes at startup when I replace libffmpeg.so with prebuilt version.

nwjs: nwjs-sdk-v0.32.3-linux-x64
nwjs-ffmpeg-prebuilt: 0.32.3
os: ubuntu 18.04 x64

I also use 0.32.4 version too and there is the similar problem.
Here is the crash dump:
[chromium-extension-minidump.zip](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/files/2384430/chromium-extension-minidump.zip)

[2018-09-18 14:56] Asp3ctus commented on #48
or not.

@iteufel can you please share wherewe can find fresh builds?

[2018-09-21 20:38] csonuryilmaz opened #67 "opera - which release version?"
I'm using Opera version **55.0.2994.61**. My system is;
[code]
I've downloaded latest version (**0.32.4-linux-x64.zip**), extracted **libffmpeg.so** into */usr/lib/x86_64-linux-gnu/opera* folder. But browser tab crashes when I start playing video.

Which release version is suitable with Opera **55.0.2994.61**?

[2018-09-21 21:37] csonuryilmaz commented on #67
Meanwhile after many trials with some *ubuntu* packages, temporarily [chromium-codecs-ffmpeg-extra 69.0.3497.81-0ubuntu0.16.04.1](https://launchpad.net/ubuntu/xenial/amd64/chromium-codecs-ffmpeg-extra/69.0.3497.81-0ubuntu0.16.04.1) worked with my opera version.

[2018-09-24 09:20] sadikyalcin opened #68 "[Request] - 0.33.3"
Can we please have the build for the latest version?

[2018-09-25 17:34] asteriosgr opened #69 "Build Error Linux x64"
ERROR at //build_overrides/build.gni:5:1: Can't load input file.
import("//build/config/gclient_args.gni")
How can i manually build the .gni file? Or is there another way?

[2018-10-03 13:38] Asp3ctus commented on #48
Any update on this?
I have tried to make a fork and build it via travis ci but with no luck... also it didn't build on local linux setup..
It would be nice to update to new versions of nwjs

[2018-10-06 21:05] iteufel commented on #68
@sadikyalcin sorry for the long waiting time.
I have now updated the build script to work with 0.33.x and uploaded new the new binaries.

[2018-10-06 21:05] #68 closed

[2018-10-06 21:09] iteufel commented on #67
@csonuryilmaz you can try 0.33.4 both are using chromium 69

[2018-10-06 21:11] iteufel commented on #66
@hamid-a please try again with the latest version 0.33.4.

[2018-10-06 21:13] iteufel commented on #69
Linux builds should now working again.

[2018-10-06 21:13] #69 closed

[2018-10-06 21:15] iteufel commented on #65
@tangyue0924 most of the time, the binaries should work for all patch versions.

[2018-10-09 21:02] Asp3ctus commented on #48
@iteufel thank you for update !!!
I will try to see how you did it, maybe i can be some help.

[2018-10-10 03:35] csonuryilmaz commented on #67
@iteufel  I've tried release [0.33.4-linux-x64.zip](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases/download/0.33.4/0.33.4-linux-x64.zip) **but** page crashes when I open a video.
*uname -a*:
[code]
Crash video is [here](https://www.dropbox.com/s/hr21x9tgpxt09pk/opera-crash.mkv?dl=0)

[2018-10-10 13:59] asteriosgr opened #70 "latest binaries crash nwjs"
On versions 0.33.2 and 0.33.4 (these are the ones I tested), pre-compiled binaries and manual compiled binaries are crashing the nwjs. Am I the only one experiencing this issue?

[2018-10-10 17:42] skaughtx0r commented on #70
I am also experiencing this. The last working version for me is 0.31.5.
All of the 0.32 and 0.33 binaries crash as soon as I try to append to the sourceBuffer.

I'm stuck in a bad spot right now because I need OffscreenCanvas support and it only started working in 0.32

[2018-10-11 13:34] skaughtx0r commented on #70
I've only tested on Ubuntu 16.04

[2018-10-13 06:58] csonuryilmaz commented on #67
@prajnoha I tried release [0.31.5-linux-x64.zip](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases/download/0.31.5/0.31.5-linux-x64.zip) and it definetly works. Thanks a lot.

[2018-10-13 06:58] #67 closed

[2018-11-20 01:07] choukui commented on #70
I encountered the same problem.

[2018-11-29 06:30] Bluesboy commented on #70
Opera browser on Fedora 29 crashes with 0.33.4 and 0.34.0 versions, rolled back to 0.31.2 everything works fine.

[2018-12-04 15:50] comcon1 commented on #70
Opera browser on OpenSuse Leap 15.0 crashes with versions 0.34.0 and 0.26.6.

[2018-12-27 17:58] Connum opened #71 "Latest Windows build failing"
The latest Windows build has failed and therefore no binaries are available for the most recent published release (0.34.0). Also, could you please release the binaries for the current NW.js 0.35.3?

[2018-12-31 14:33] ItachiSan commented on #70
I have the same issue, this when using PopcornTime.

To reproduce, build PopcornTime on a 64-bit Linux in this way:

1. (*One-time*) Download the source code using Git from:
https://github.com/popcorn-official/popcorn-desktop/
2. (*One-time*) I assume you have a working Node.js setup. If not, set it up accordingly.
3. (*One-time*) If you don't have *yarn* installed, install it using
`npm install y

[2018-12-31 14:36] iteufel commented on #70
@ItachiSan 0.35.2 should work on Linux.

[2018-12-31 16:04] ItachiSan commented on #70
@iteufel it does! What was the issue?

[2019-02-03 02:55] infantilo opened #72 "mxf support"
Is there any chance you could release an precompiled version including mpeg2video for those, who can't compile it?
MAY THANKS

[2019-03-06 00:45] yoko10000 opened #73 "Need build for NW.js 0.36.4"
could you please release the binaries for the current NW.js 0.36.4?thanks!

[2019-03-09 19:20] iteufel commented on #73
@yoko10000 I will try to Release new Builds mid next week.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 19:48] yoko10000 commented on #73
thank you very munch！

[2019-03-11 22:49] hthetiot commented on #73
Thank you.

[2019-03-13 11:22] chatcan commented on #73
Thank you

[2019-03-20 22:13] hthetiot commented on #73
I think it's better to go Chromium 73 aka nwjs 37 directly as  Chromium 71/72 was bad release of chrome (in my point of view).
- https://github.com/nwjs/nw.js/blob/nw37/CHANGELOG.md#0370--03-13-2019

cc @iteufel @yoko10000

[2019-03-20 22:16] hthetiot commented on #73
(Fun fact this issue is #73 it's is a sign we should use nw.js 37 ahah)

[2019-03-23 17:47] yoko10000 commented on #73
oh,nw.js 37.0

[2019-03-23 17:49] yoko10000 commented on #73
oh,v0.37.1

[2019-04-04 01:02] yoko10000 opened #74 "could you please release the binaries for the current NW.js 0.37.2?thanks!"
could you please release the binaries for the current NW.js 0.37.2?thanks!

[2019-04-18 08:29] iteufel commented on #74
I have released 0.37.4

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-18 08:30] #74 closed

[2019-04-18 08:31] iteufel commented on #73
I have released binaries for 0.37.4.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-18 11:48] #73 closed

[2019-04-18 11:48] #71 closed

[2019-05-15 14:21] kronikpillow opened #75 "Can not build"
[kronikpillow@susanoo nwjs-ffmpeg-prebuilt]$ sudo python build_ffmpeg.py --target_arch=x64
  File "build_ffmpeg.py", line 104
    print '\n\nShutdown requested... \x1b[0;31;40m' + 'exiting' + '\x1b[0m'
                                                  ^
SyntaxError: Missing parentheses in call to 'print'. Did you mean print('\n\nShutdown requested... \x1b[0)?
[kronikpillow@susanoo nwjs-ffmpeg-preb

[2019-05-29 06:56] hthetiot commented on #73
@iteufel Thank you.

[2019-06-03 08:56] marc7000 opened #76 "Windows Build needed for 0.38.1"
Currently missing build for Windows.
Any plans for building the 0.38.1 binaries for Windows?

[2019-06-06 19:43] fracland commented on #76
The windows packages will never be built again? that's it ? I wait quietly for several months, but perhaps must I look how to build them myself? tell me, thanks for your answer.
FL

[2019-06-06 19:49] iteufel commented on #76
Hi @fracland,  I'm busy with my final exam, but I'm building the windows builds manually this weekend and will try to update the script.

[2019-06-06 20:03] fracland commented on #76
Thanks Allan !

[2019-06-10 09:28] iteufel commented on #76
@fracland , @marc7000 I have released libs for 0.38.4 https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases/tag/0.38.4

[2019-06-10 09:28] #76 closed

[2019-06-10 11:22] marc7000 commented on #76
Thank you Allan!

[2019-06-13 19:03] sonicmouse opened #77 "NW.js 0.39.0 with Chromium 75"
Hey all...
First off: thanks for taking on the responsibility of compiling these builds in your freetime. A lot of us really appreciate all this work you all do pro bono.

We are in a pinch here. The release you guys just built is for 38.4 which is dependent on Chromium 74. There is a huge rendering bug in 74 and we need to use 75. NW.js just released 0.39.0 which includes 75 which fixes our issue

[2019-06-13 20:09] iteufel commented on #77
@sonicmouse I'm trying to release new builds tomorrow.

[2019-06-13 21:16] iteufel commented on #77
@sonicmouse I have just released the new versions.

[2019-06-14 13:09] sonicmouse commented on #77
whoa thanks!
My team is going to be super happy... From all of us over here: thank you for helping us out.

[2019-06-14 13:09] #77 closed

[2019-06-17 14:36] #72 closed

[2019-06-21 13:51] infantilo opened #78 "win build error"
we are getting the following error trying to compile for win:
`INFO: Setting nw version to 0.33.3
INFO: Building ffmpeg for 0.33.3 on win for x64, proprietary_codecs = False
Creating C:\Users\thoma\Desktop\nwjs-ffmpeg-prebuilt-master\build directory...
WARNING: C:\Users\thoma\Desktop\nwjs-ffmpeg-prebuilt-master\build directory already exists, skipping...
INFO: Cleaning output directory...
INFO: Cr

[2019-07-11 06:28] mkazlauskas opened #79 "Inconsistent release file naming"
0.37.4-win-**ia32**.zip
vs
0.38.4-win-**i32**.zip
vs
0.39.2-win-**x86**.zip

This is causing issues with build tooling (specifically I'm using [nwjs-builder-phoenix](https://github.com/evshiron/nwjs-builder-phoenix) which expects arch to be `ia32`

[2019-07-11 08:48] iteufel commented on #79
@mkazlauskas Thanks for the information.
I have fixed the names.

[2019-07-11 10:16] #79 closed

[2019-08-09 14:45] marc7000 opened #80 "NW.js Release 0.40.1"
@iteufel do you have release plans for NW.js 0.40.1?

[2019-08-09 16:14] iteufel commented on #80
@marc7000 I am currently building the new binaries 😁.

[2019-08-09 18:40] marc7000 commented on #80
Awesome thank you!

[2019-08-29 13:27] zkrige commented on #80
Is there any update on this? Can I do anything to help?

[2019-08-30 14:07] zkrige opened #81 "h264 plays but not mpeg4"
I'm using the prebuilt binaries for 0.39.1 and im unable to play mpeg4 files, but h264 files play fine. Is there any tricks to get this working?

[2019-09-09 22:36] SalchiPapa commented on #75
You are using python3 and the script is written for python2. Try again using the python2 runtime:

    $ python2 build_ffmpeg.py --target_arch=x64

The error is telling you it expects:

Instead of:

[2019-09-13 18:24] yoko10000 opened #82 "do you have release plans for NW.js 0.41.1?"
do you have release plans for NW.js 0.41.1?

[2019-09-22 18:31] zzxzzk115 opened #83 "I need a linux-armv7 version(0.27.5 or 0.28.4) libffmpeg.so!"
Do you know how to build/compile it, or can you help me build it?

[2019-10-03 07:50] zkrige commented on #82
this repo doesnt seem very active - are there any forks that do more regular releases?

[2019-10-08 18:35] vzamanillo commented on #82
Remember, if someone urgently needs a binary, can always do a checkout of this repository and build it for itself, making a build without the proprietary codecs it is very easy for any plattform.

[2019-10-09 11:15] zkrige commented on #82
thanks @vzamanillo

what is the disk size footprint? I was under the impression it was huge?

[2019-10-09 12:07] vzamanillo commented on #82
Oh, unfortunately, releases since version nw-v0.34.0-beta1 cannot currently be built because of this https://github.com/nwjs/nw.js/issues/6864. As part of the build process this script clones the nwjs chromium source code from the release version tag, this tags does not exists anymore.

We need some script modifications to solve this issue.

[2019-10-09 12:09] zkrige commented on #82
gosh - im so annoyed. I wish we'd never gone NWJS. its so mickey mouse. I'm honestly considering rewriting for electron. at least its properly supported.

and before anyone gets upset, I always offer support on a project as a first option for any bugs I report

[2019-10-09 12:13] iteufel commented on #82
@zkrige I'm just doing a build of the dlls with the full chromium src.

[2019-10-09 12:21] zkrige commented on #82
thanks for the feedback. at this stage we've pinned to an older version of nwjs because newer versions all break different things.

thanks for your support to the nwjs project by doing the ffmpeg builds

[2019-10-11 08:23] iteufel commented on #82
@zkrige, @yoko10000 I released the new dlls.
I'm currently working on rewriting the build script to use the official chromium.src.

[2019-10-12 07:29] marc7000 commented on #80
Thank you!
https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases/tag/0.41.2

[2019-10-12 07:29] #80 closed

[2019-10-14 05:36] zkrige commented on #82
thank you very much @iteufel

Please let me know if I can help with anything

[2019-10-19 14:28] yoko10000 commented on #82
thanks @iteufel

[2019-10-29 08:56] marc7000 opened #84 "NW.js Release v0.42.0"
@iteufel do you have release plans for NW.js 0.42.0?
It ships Chromium 78 with many security updates.

[2019-11-04 06:32] liuyi commented on #84
libffmpeg.dylib of 0.41.3  can works fine on NW.js 0.42.0,
Tested~

[2019-11-08 22:27] marc7000 commented on #84
works also fine with NW.js 0.42.3

[2019-11-08 22:27] #84 closed

[2019-11-15 09:06] asteriosgr opened #85 "Building Dependencies libcxx"
I am trying to create a Dockerfile, that can be used for for building ffmpeg in a container. My issue is that when I initiate this (from ubuntu:latest) :
```python build_ffmpeg.py --target_arch=x64 --nw_version=nw42```
I get this:
ERROR: Traceback (most recent call last):
  File "build_ffmpeg.py", line 89, in main
    generate_build_and_deps_files()
  File "build_ffmpeg.py", line 559, in generate_

[2020-01-14 13:16] vahidalizad commented on #85
I have the same problem on nw39 and windows

[2020-01-15 08:05] vahidalizad commented on #85
i solved it by changing the `build_ffmpeg.py` file.
Just changed the `ur"libcxx_revision.*\"(.+)\""` to `ur"libcxx_revision.*\'(.+)\'"` and changing `ur"libcxxabi_revision.*\"(.+)\""` to `ur"libcxxabi_revision.*\'(.+)\'"`

[2020-01-16 07:31] zkrige opened #86 "NW.js Release 0.43.5"
Can you please build for this version?

[2020-01-16 12:33] zkrige commented on #86
I would do the builds but I don't have a windows machine available to do the windows builds on

[2020-01-16 14:32] iteufel commented on #86
@zkrige I'm working on it right now.

[2020-01-16 14:36] zkrige commented on #86
Wow thank you very much!!

Is there some way to setup something that auto builds as soon as new nwjs is released?

[2020-01-17 10:55] gpetrov commented on #86
The latest nwjs 0.43.5 seems very stable so having to codecs for it will be great.

@iteufel - maybe you can setup a CI or Github Actions to auto build on each release?

[2020-01-17 10:57] zkrige commented on #86
I would assume there's a cost involved for having actions do the build, as you need a windows env and macOS env....

[2020-01-17 11:03] iteufel commented on #86
@zkrige I am currently still working on a manual build for all platforms.

I think It would be better to rewrite the build script and use the official chromium src for the libraries.
Then we can also automate it more easily.

[2020-01-17 11:04] zkrige commented on #86
thank you for your effort - it is much appreciated

[2020-01-17 12:39] gpetrov commented on #86
and now we have 0.43.6 update. Following up quickly. Hope you build the codes directly for it

@iteufel maybe you @rogerwang can help you setup a live build environment, just as he did with nwjs live build.

[2020-01-21 21:31] iteufel commented on #86
@zkrige @gpetrov
I have rewritten the script in node.js
The new version consumes more disk space but should be easier to maintain now.

[2020-01-21 21:41] gpetrov commented on #86
Awesome work @iteufel - node script is the way to go for easy building!

If you can only add also the Linux version :) - then we are complete and go for launch!

[2020-01-21 23:20] iteufel commented on #86
@gpetrov I have uploaded the linux versions.

[2020-01-22 06:54] zkrige commented on #86
thank you!

[2020-01-22 11:02] #86 closed

[2020-01-22 11:02] #82 closed

[2020-01-22 11:02] #70 closed

[2020-01-23 05:05] zkrige commented on #48
Is there anything I can do to help with automated builds?

[2020-02-10 11:48] zkrige opened #88 "0.44.0"
Thank you for uploading linux 0.44.0

is it possible to also upload macOS and windows?

[2020-02-10 16:38] iteufel commented on #88
I'm working on it right now.

[2020-02-10 22:19] iteufel commented on #88
@zkrige I have uploaded the window and macOS versions.

[2020-02-10 22:19] #88 closed

[2020-02-14 11:47] zkrige commented on #88
thank you very much

[2020-04-16 10:07] zkrige opened #89 "0.45.2"
Please can you do a release for 0.45.2

I'm using https://github.com/evshiron/nwjs-builder-phoenix and the scripts link to your repo for ffmpeg libs

thank you

[2020-05-01 23:37] GendelfLugansk opened #90 "No win builds for latest version"
Releases for 0.45.0 and 0.45.1 do not include builds for windows

[2020-05-14 21:31] Jakeler opened #91 "Not working anymore with 0.45.x"
Hi,
am I the only one experiencing problems with the recent version?
Trying to open a mp4/h264 on Linux yields:
[code]
Just like the standard nwjs libffmpeg.so.

[2020-05-19 07:16] djcanard commented on #90
Yes, it would be great to have these available.

[2020-05-19 09:35] iteufel commented on #90
I have not released a new version because nw.js does not recognize certain formats in the current version.

I'll try to take care of it this week.

[2020-05-19 09:36] #90 closed

[2020-05-19 09:37] iteufel commented on #90
[https://github.com/iteufel/nwjs-ffmpeg-prebuilt/issues/91](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/issues/91)

[2020-05-19 09:40] iteufel commented on #89
I close the issue further progress can be followed at https://github.com/iteufel/nwjs-ffmpeg-prebuilt/issues/91.

[2020-05-19 09:40] #89 closed

[2020-06-07 14:19] sereg1k opened #92 "Feature request: chromium and nw.js versions"
Always add chromium and nw.js version information to the [release](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases) page

**Example:**
![nwjs-ffmpeg-prebuilt_2020-06-07_17-16-36](https://user-images.githubusercontent.com/57018948/83971217-db16c800-a8e2-11ea-846a-76db1d22a762.png)

[2020-06-16 12:18] Eason-Wu opened #93 "Can you please update the node-rewrite branch ?"
we are looking for a easy way to pack a  binary.
but MAC & Win without build entry.
 can you please update the mac & win build entry

[2020-06-16 16:44] kartikynwa commented on #91
FWIW I just tried the latest release with nwjs-0.45.1 and it works with this RPMG game that I am playing.

[2020-06-23 10:44] zkrige opened #94 "please can you do build for 0.46.2"

[2020-06-26 06:45] asteriosgr commented on #94
0.46.3*

[2020-07-02 09:22] hthetiot opened #95 "Docker or Travis build support"
I was wondering if we could add a Dockerfile to ease generating the build and even a Travis Hook to generate realease.
I have some experience with building ffmpeg, Cordova and NW.js on Windows/Mac/Linux via Travis, I think it might be doable at least the Docker part, the issue with travis might be the size and duration of the build.

Let me know you thought and if people are interested I might do

[2020-07-09 13:47] hthetiot commented on #94
0.46.4*

[2020-07-09 20:04] iteufel commented on #94
@hthetiot I have local builds but nwjs does not recognize the video/audio formats since >= 0.45.0.

[2020-07-09 20:44] iteufel commented on #95
@hthetiot I have created a build workflow using GitHub Actions https://github.com/iteufel/nwjs-ffmpeg-prebuilt/blob/master/.github/workflows/main.yml
But I think we could optimize it more

[2020-07-09 20:46] iteufel commented on #48
I have now automate the builds using GitHub Actions.

[2020-07-09 20:46] #48 closed

[2020-07-09 20:49] iteufel commented on #93
The latest nwjs versions have problems recognizing the codecs.
https://github.com/nwjs/nw.js/issues/7471

[2020-07-09 20:49] #85 closed

[2020-07-09 20:52] iteufel commented on #91
the current status can be found here https://github.com/nwjs/nw.js/issues/7471

[2020-07-09 20:54] iteufel commented on #81
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 20:54] #81 closed

[2020-07-09 20:54] #75 closed

[2020-07-09 20:55] #66 closed

[2020-07-09 20:56] #32 closed

[2020-07-09 20:57] iteufel commented on #38
Using the H.264 codec requires you to pay attention to the patent royalties and the license of the source code. Consult a lawyer if you do not understand the licensing constraints and using patented media formats in your application. For more information about the license of the source code, check [here](https://chromium.googlesource.com/chromium/third_party/ffmpeg.git/+/master/CREDITS.chromium).

[2020-07-09 20:57] #38 closed

[2020-07-09 20:58] #44 closed

[2020-07-09 20:59] iteufel commented on #39
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 20:59] #39 closed

[2020-07-09 20:59] #47 closed

[2020-07-09 21:00] iteufel commented on #42
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:00] #42 closed

[2020-07-09 21:00] iteufel commented on #60
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:00] #60 closed

[2020-07-09 21:00] iteufel commented on #53
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:00] #53 closed

[2020-07-09 21:00] iteufel commented on #37
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:00] #37 closed

[2020-07-09 21:01] iteufel commented on #59
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:01] #59 closed

[2020-07-09 21:01] iteufel commented on #65
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:01] #65 closed

[2020-07-09 21:01] iteufel commented on #78
If the issue still exists just write it down and I will reopen the issue.

[2020-07-09 21:01] #78 closed

[2020-07-09 21:04] iteufel commented on #83
you should be able now to compile for arm.
node build -a arm

[2020-07-09 21:04] #83 closed

[2020-07-10 04:51] zkrige commented on #48
wow - fantastic - thank you so much

[2020-07-10 09:29] hthetiot commented on #95
Related https://github.com/iteufel/nwjs-ffmpeg-prebuilt/issues/48#event-3531389084

[2020-07-12 15:39] iteufel commented on #94
I have uploaded binaries for 0.46.4/5 and nw.js has fixed the issue that the video/audio formats are not recognized.
You can try http://dl.nwjs.io/live-build/nw46/20200710-003549/1fc2cba92/v0.46.5/ or wait until 0.46.5 is released.

[2020-07-12 15:40] iteufel commented on #91
I have uploaded binaries for 0.46.4/5 and nw.js has fixed the issue that the video/audio formats are not recognized.
You can try http://dl.nwjs.io/live-build/nw46/20200710-003549/1fc2cba92/v0.46.5/ or wait until 0.46.5 is released.

[2020-07-12 15:40] #91 closed

[2020-07-13 09:49] kartikynwa commented on #91
Thank you for your work o7

[2020-07-15 15:58] hthetiot commented on #94
Thank you @iteufel

[2020-07-15 15:59] hthetiot commented on #94
0.47.0 available here for reference https://github.com/iteufel/nwjs-ffmpeg-prebuilt/releases/tag/0.47.0 I think we can close this issue.

Again thx to @iteufel

[2020-07-15 16:01] hthetiot commented on #95
Fixed by https://github.com/iteufel/nwjs-ffmpeg-prebuilt/blob/master/.github/workflows/main.yml I guess

[2020-07-15 16:01] #95 closed

[2020-07-15 16:13] #94 closed

[2020-08-07 23:33] AndersonGI opened #96 "[Question] What are the diferences between this one and the one from chromium-codecs-ffmpeg-extra package?"

[2020-08-24 07:55] zkrige commented on #91
0.47.3 didn't build - is there something that needs to be done to make it build?

[2020-10-06 18:23] sirisian opened #97 "Might add "git config --system core.longpaths true" to the windows docs."
I noticed when building I needed to run "git config --system core.longpaths true" or I'd get the filename too long error. This might be obvious, but I could see people running into that when running the build the first time.

[2020-10-06 19:02] sirisian opened #98 "I had to add "checkout_pgo_profiles": True to the custom_vars in the .glicent file of chromium on Windows for the build to work"
I got the build to work after adding that. Maybe this needs to be added to the build script to add it automatically or in the docs? The errors says to add that or alternatively disable pgo. I found this where others talked about the issue: https://groups.google.com/a/chromium.org/g/chromium-dev/c/-0t4s0RlmOI

[2020-11-20 10:44] dpjha84 opened #99 "Do I need a license if I want to use ffmpeg prebuilt dll in my product"
We want to use prebuilt ffmpeg.dll in one of our Windows desktop product which is used for commercial purpose. Do we need a license to use prebuilt ffmpeg.dll. If yes, where can we buy/apply that license and how can we use that to make sure we are good from legal stand point. Any Pointer would be highly appreciated. Thanks.

[2020-12-01 10:40] wyrj opened #100 "do you have release plans for NW.js 0.50.1?"
do you have release plans for NW.js 0.50.1?

thanks

[2020-12-11 18:29] asteriosgr commented on #98
I created a PR for it. Currently it is building under Linux x64 👍

[2020-12-11 18:33] iteufel commented on #100
@wyrj From tomorrow I have vacation and then I can take care of current builds for all platforms.

[2020-12-15 17:23] iteufel commented on #100
@wyrj I have published the new binaries.

[2020-12-15 17:23] #100 closed

[2020-12-20 17:42] #98 closed

[2021-03-11 08:28] prayag17 opened #103 "[Que] How to compile with HEVC/x265?"
Hello, I want to compile ffmpeg with HEVC support but I was not able to do it, can anyone provide me a way to compile ffmpeg with HEVC support for NWJS

[2021-03-24 09:55] zkrige opened #104 "0.52.0"
Can you please release for Mac and windows 0.52.0

[2021-04-23 07:57] zkrige opened #105 "Abandoned?"
It appears this project has been abandoned or perhaps @iteufel is no longer able to maintain it. Has anyone forked it in order to continue producing binaries for latest nwjs?

[2021-04-23 11:29] iteufel commented on #105
I have a lot of work to do lately, but if there is someone who would help it would be good 😌.

@zkrige I'll try to build new libraries right away.

[2021-04-23 11:30] zkrige commented on #105
I'd be happy to help - Can you advise what needs to be done?

[2021-04-26 23:15] agran commented on #104
0.52.2-win-x64.zip https://disk.yandex.ru/d/bejkwPub-DYubA

[2021-04-27 05:05] zkrige commented on #104
thank - but I see @iteufel has done 0.52.2 builds

[2021-04-27 05:05] zkrige commented on #105
@iteufel I'm happy to help you with doing builds - I know people get busy and you dont always have time. perhaps I can help lighten your load

[2021-04-27 09:45] iteufel commented on #105
@zkrige Building the windows libraries took a little longer because I had to update my build VM.

It would be good if we can automate the builds with the github actions. I tried it before but didn't have the time to do it.
The linux build already works we need to figure out why mac and window don't build.

[2021-04-27 09:45] #105 closed

[2021-04-27 09:47] iteufel commented on #104
0.52.2 Builds are now available

[2021-04-27 09:47] #104 closed

[2021-04-27 09:49] iteufel commented on #99
Using MP3 and H.264 codecs requires you to pay attention to the patent royalties and the license of the source code. Consult a lawyer if you do not understand the licensing constraints and using patented media formats in your application. For more information about the license of the source code, check [here](https://chromium.googlesource.com/chromium/third_party/ffmpeg.git/+/master/CREDITS.chromi

[2021-04-27 09:49] #99 closed

[2021-04-27 09:50] zkrige commented on #105
As an outsider I dont have access to the repo build actions - would it be possible to share them?

[2021-04-27 09:51] iteufel commented on #96
The libraries are actually intended for [nwjs](https://nwjs.io) but also work with chromium.

[2021-04-27 09:51] #96 closed

[2021-04-27 09:59] agran commented on #105
Yesterday I compiled the dll for Windows on my PC, so I figured it out a bit. I'll try to work on the question.

[2021-04-27 09:59] zkrige opened #107 "fix windows build action"
Currently windows is failing with this error:
build-win
There is not enough space on the disk. : 'D:\a\_temp\_runner_file_commands\set_env_38fd79c1-588f-4f95-818f-1979f1963142'

I'll investigate how to add more disk space

[2021-04-27 10:01] zkrige commented on #105
@agran fyi: #107

[2021-04-27 10:57] zkrige commented on #107
perhaps we can remove some of the installed software as one of the build steps? maybe this will free enough space

[2021-04-27 11:00] zkrige commented on #107
or we can build a docker image with windows in it and self host the runner

[2021-04-27 11:03] iteufel commented on #107
To save space we can add packages we don't need for the build to the [custom_deps](https://github.com/iteufel/nwjs-ffmpeg-prebuilt/blob/89a16332515a16187683de72375a819e52d35c88/build.js#L115).

[2021-04-27 11:04] zkrige opened #109 "fix macOS build action"
Currently GitHub has made macOS runners private - https://github.com/actions/virtual-environments/issues/2486

we would need to build a docker image to do a macOS build

[2021-04-27 11:09] iteufel commented on #109
According to the [Chromium guide](https://chromium.googlesource.com/chromium/src/+/master/docs/mac_build_instructions.md), 10.15.4+ should also work.

[2021-04-27 11:10] zkrige commented on #107
I'm not too familiar with the actual nwjs ffmpeg build process - you'd know more about that. I assume that the chrome build is what's taking up all the space?

[2021-04-27 11:16] iteufel commented on #107
Currently all dependencies for the whole chromium project are loaded.

I had already built it in the past so that only dependencies of FFmpeg were loaded.
But this was very error prone and had to be adjusted almost every chromium release.

I'll see if it's enough to remove some big dependencies that are not needed.

[2021-04-27 11:29] zkrige commented on #107
I'm guessing the linux and Mac builds will also fail due to size. hopefully if you can strip out some big dependencies then we should be good to go

[2021-04-27 14:11] zkrige commented on #109
@iteufel it looks like macOS build is working now. can we close this issue

[2021-05-05 20:43] TheJaredWilcurt opened #111 "Added to NWUtils site"
I added a link to this repo on the NW.js Utilities website:

* https://nwutils.io/#nwjslibraries

If you want to tweak anything on the description, the file is here:

* https://github.com/nwutils/nwutils.github.io/blob/main/data/data.json#L308

Close this issue at your convenience.

🎇 🦄 🎆 🦦 🎉

[2021-05-11 10:55] zkrige commented on #107
@iteufel have you had any progress in removing some of the dependencies? Alternatively, perhaps we an spin up our own windows image?

[2021-06-02 08:47] Attigliuzzo opened #112 "No linux 64bit release of ffmpeg 0.54.0"
Could you release a linux 64bit for ffmpeg 0.54.0?
Thanks

[2021-06-10 08:22] Attigliuzzo commented on #112
So my solution is to download the package opera-ffmpeg-codecs from an Archlinux [repo](https://ftp5.gwdg.de/pub/linux/archlinux/community/os/x86_64/) and voila'!!!!

[2021-06-10 08:22] #112 closed

[2021-07-19 07:11] flopezre opened #116 "[Question] No linux version for 0.54?"
Hello everyone, so that is my question.

Cheers

[2021-08-04 00:43] haslinghuis commented on #116
Also would this work with 0.54.1 or 0.55.0?

[2021-08-29 16:00] barsnick opened #117 "Chromium 94 introduces a new required symbol av_stream_get_first_dts"
Short version: We need a new build. ;)

Chromium 94, which has just recently been promoted from the Dev to the Beta channel, seems to have introduced a new symbol, which the most recent build of this project does not yet provide. (Actually, I have been using a quite old version of nwjs-ffmpeg-prebuilt for Linux for quite a long time, successfully, despite updates to most recent Chromium on Opera -

[2021-09-02 15:53] tiagogbarbosa opened #118 "[Q] How compile ffmpeg with MAAL and OMX-RPI for Raspberry 3B+"
How compile libffmpeg.so with MAAL and OMX-RPI for Raspberry 3B+?

Hm trying to change "../nwjs-ffmpeg-prebuilt/build/chromium/src/third_party/ffmpeg/chromium/config/Chrome/linux/arm/config.h" but with no effect on the build

Anyone help please?

[2021-09-14 19:08] danielbgto opened #119 "Opera Stable 79.0.4143.22 crashes on playing videos"
Just came opera  79.0.4143.22 stable release and tab trying to play video is crashing. There is segfault in dmesg regarding that.
Example: Media[116803]: segfault at 6400000028 ip 00007f5089ab3a90 sp 00007f507d0d1c80 error 4 in libffmpeg.so[7f5089914000+2fb000]
Thank you for that tremendous work!

[2021-09-14 19:13] flopezre commented on #119
Confirmed:
<img src="https://freeimage.host/i/screenshot-2021-09-14-15-30-49.RgOeQ2" width="400"/>

[2021-09-15 09:22] choyan commented on #119
Same here.

[2021-09-15 11:38] danielbgto commented on #119
I found a workaround. Install latest Vivaldi browser 4.2 and the take the lib:
sudo cp /var/opt/vivaldi/media-codecs-79b56700ea9558c50a5edacaeb70298120127d2f8b32bb5e05c3876a51bd64b5/libffmpeg.so /usr/lib/x86_64-linux-gnu/opera/libffmpeg.so

[2021-09-16 08:12] choyan commented on #119
Another work around.
- Download the latest Vivaldi `ffmpeg` from here [Vivaldi Archlinux Archive](https://archlinux.org/packages/community/x86_64/vivaldi-ffmpeg-codecs/) . It comes with a zip file with named `vivaldi-ffmpeg-codecs-93.0.4577.82-1-x86_64.pkg.tar.zst` .
- Inside the `opt/vivaldi` foder you will find you will find `libffmpeg.so.4.2`. Extract it and rename it to `libffmpeg.so`
- Copy t

[2021-09-16 10:16] jkucinski commented on #119
Don't work on CentOS 8 with glibc version 2.28. Vivaldi Archlinux Archive require glibc version 2.29.

[2021-09-16 12:52] caioz7 commented on #119
works for me, Opera: 79.0.4143.22 - Kubuntu 21.04

[2021-09-17 09:20] Ld-Hagen commented on #119
https://github.com/Ld-Hagen/fix-opera-linux-ffmpeg-widevine

[2021-09-18 12:04] barsnick commented on #119
What about Opera Developer >= 80.0.4157.0?
See #117.

[2021-09-18 13:09] Ld-Hagen commented on #119
Try this https://repo.herecura.eu/herecura/x86_64/opera-developer-ffmpeg-codecs-95.0.4621.4-1-x86_64.pkg.tar.zst

[2021-09-23 13:23] connectnet commented on #119
[https://archlinux.org/packages/community/x86_64/vivaldi-ffmpeg-codecs/download](url)
Inside the opt/vivaldi foder you will find you will find libffmpeg.so.4.2. Extract it and rename it to libffmpeg.so

[2021-10-04 16:09] luksak commented on #119
The vivaldi binary works for me as well.

[2021-10-30 16:26] zmike commented on #117
Confirmed, newer versions of chromium don't work with the latest (0.55) release.

[2021-11-02 15:14] ev8dev opened #122 "Ninja.exe + Python3/git errors while building x86 ffmpeg.dll on Windows 10"
I'm running into some problems while tyring to build the x86 ffmpeg.dll using **node build --arch=x86** on Windows 10. The first time I tried cloning the library, I didn't get the python3/git errors. Just the ninja.exe error. I have no idea where those suddenly come from.

Could anyone help me fix both the ninja.exe + Python3/git errors so I can build ffmpeg.dll myself in the future?

Thanks!

[co

[2021-11-04 16:33] Ld-Hagen commented on #122
Try `node build --arch=ia32`

[2021-11-05 08:47] ev8dev commented on #122
@Ld-Hagen it works. Thank you so much! The `x86` part came from the Windows manual.

[2021-11-05 08:47] #122 closed

[2021-11-05 14:06] ddreharov opened #123 "Issue with latest nwjs 0.58.0"
Hey there,
I'm having issues with codecs with latest build. I'll try to explain bellow:

**Description**

1. I'm building libffmpeg.so with latest nwjs 0.58.0. Yet build is successful.
2. I'm copying the output in `nwjs/lib` directory as described in official documentation
3. When I try to play a video (ex. mp4). The video is not played.

With version 0.56.0 the steps above work as expected.

Am I

[2021-11-09 21:51] #123 closed

[2021-11-09 21:53] ddreharov commented on #123
Due to unknown reasons I've tested the steps above today and it seems working. I'm closing the issue.

[2021-11-09 23:15] lavanyadeepak opened #124 "Opera failed to open after copying the release file into its lib folder"
I had a problem with Opera to play videos and had copied the same to its lib folder. But after that it stopped opening itself. Hence had to restore the old. Please see my terminal output. The .new is the one which I downloaded from release folder.

![image](https://user-images.githubusercontent.com/2217926/141020640-70695372-2157-4e5f-b0ad-1cb5eb0718a7.png)

[2021-11-13 07:02] Ld-Hagen commented on #124
It's too old. Build new one, or use https://github.com/Ld-Hagen/fix-opera-linux-ffmpeg-widevine

[2021-11-17 01:07] fm10000 opened #125 "No version for 0.58?"
Hello everyone, so that is my question.

Cheers

[2021-11-22 20:30] LorenDB commented on #117
Can we please have a newer build? I'm really wishing for this to be resolved.

[2021-11-30 07:49] Blatman opened #126 "MacOS - 0.55 build crashes nwjs if used with 0.56 or later"
MacOS 10.13.6 High Sierra
NWjs 0.56.0 ~ 0.59.0 using 0.55 dylib

Up to this point using an earlier build of the dylib worked OK with the Mac NWjs builds ( didn't require version matching) but now a crash will occur as the videos load. Seems as though it could be similar to #117.
Unable to build my own copy as build requires Catalina (10.15) at least.

[2021-12-09 08:47] fm10000 opened #127 "No version for 0.59?"
No version for 0.59?

[2022-01-07 00:37] fm10000 opened #128 "No version for 0.60?"
No version for 0.60?

[2022-01-23 16:49] khlevon opened #129 "Build failed on MacOS M1 chip"
Problem
-
When trying to build on MacOS with M1 chip I am getting this error:

`AssertionError: Unrecognized arch machine: arm64`

Environment info:
-
OS: macOS 12.1 21C52 arm64
Host: MacBookPro18,3
Kernel: 21.2.0
DE: Aqua
CPU: Apple M1 Pro
GPU: Apple M1 Pro
Python: 3.8.x
Pip: 21.2.4

Reproducing code example:
-
`node build`

Full error log
-
[code]

[2022-01-25 13:52] zkrige opened #130 "Abandoned?"
It seems this project has been abandoned. I was in talks with @iteufel last year, and he mentioned he is extremely busy.

I'm willing to take over the repo, and I have access to the actions, but the builds are failing. Is there anyone willing to help me get the builds running?

[2022-01-25 14:03] iteufel commented on #130
Hello @zkrige for any changes and fixes I am gladly open.
Currently I have some more time again and will try to create new binaries for v0.60.0 later this week.

[2022-01-25 14:29] zkrige commented on #130
ah awesome. Good to hear you're still around.

I cloned the repo and the linux and macOS images built, but windows failed.

I'm happy to trigger builds on your repo - just let me know what must be done

[2022-01-26 07:02] zkrige commented on #130
I suspect the windows image is larger than what bitbucket allows - is there any way around this

[2022-01-26 07:15] vg30 commented on #130
I did not understand your question?

[2022-01-26 07:16] zkrige commented on #130
GitHub is failing the windows build because it runs out of disk space. Is there any way to increase the disk space on the actions for windows?

[2022-01-27 15:52] fm10000 commented on #130
think you!

[2022-01-28 06:31] zkrige commented on #130
@iteufel if we can figure out how to fix the pipeline, we can automate the builds - does anyone have any ideas on how to free up space on the windows images?

[2022-01-28 12:18] YLivay commented on #130
hey, just ran a test on windows-latest, looks like C:\ has around 90 GB free disk space and D:\ has around 13 GB.
perhaps all we need to do is to just work on C: ?

[2022-01-28 12:20] zkrige commented on #130
ive been doing some testing this afternoon to try get it running on C: - will report back

[2022-01-28 13:37] zkrige commented on #130
ok - progress - I just need to figure out how to point it at the output files and we should be golden

<img width="759" alt="image" src="https://user-images.githubusercontent.com/968412/151556184-40ae74c1-6cb7-4deb-91da-2c1fa84bb90a.png">

[2022-01-28 13:41] zkrige commented on #130
great success. I've got the builds working on C: on my personal repo. I've applied the changes here, so we should have fresh builds soon

[2022-01-28 13:41] zkrige commented on #130
@iteufel can you elaborate on how to do a release once artifacts are uploaded

[2022-01-28 14:37] iteufel commented on #130
@zkrige https://github.com/marvinpinto/action-automatic-releases

An example configuration that might work.
[code]

[2022-01-28 14:50] zkrige commented on #130
I think its more complex than what you've posted. anyways, the latest build successfully completed - could you do a manual release in the meantime please

[2022-01-29 06:43] #109 closed

[2022-01-29 06:43] zkrige commented on #109
This is working now

[2022-01-29 06:44] zkrige commented on #130
I’ve submitted a pr that does the release when a tag is pushed. I think this can be closed now

[2022-01-29 06:44] #130 closed

[2022-01-29 06:44] zkrige commented on #128
Done

[2022-01-29 06:44] #128 closed

[2022-02-01 20:04] Blatman commented on #126
@zkrige  - just tried 0.60.0 build with 0.61.0 NWjs (Mac) and it appears to work OK.
Thanks for your efforts.

Cheers.

[2022-02-01 20:04] #126 closed

[2022-02-08 06:42] zkrige opened #132 "nwjs 0.61.0"
Sorry for the dumb question - how do I trigger a new build for the latest nwjs?

[2022-02-16 06:28] zkrige commented on #132
@iteufel - the 0.61.0 release is missing assets

[2022-02-28 07:26] zkrige commented on #132
@iteufel could you help us out here?

[2022-03-03 02:56] DestroyTargetNonBasicLand commented on #132
Looks like the windows dll's failed to build: https://github.com/iteufel/nwjs-ffmpeg-prebuilt/actions/runs/1812496226

[2022-03-08 00:40] fm10000 opened #134 "No version for 0.62.0?"
No version for 0.62.0

[2022-03-25 13:16] zkrige commented on #134
I've done a build for 0.62.1

[2022-03-25 13:19] #134 closed

[2022-03-25 13:19] zkrige commented on #132
fixed and issued new builds

[2022-03-25 13:19] #132 closed

[2022-05-14 16:04] bulvara commented on #117
https://github.com/archlinux/svntogit-packages/blob/packages/qt5-webengine/trunk/qt5-webengine-ffmpeg5.patch was fixing av_stream_get_first_dts for ffmpeg 5.0, but fails with current git master

[2022-05-19 13:01] burnout426 opened #135 "Chromium Version Missing from Release Description"
Since 0.62.1, the releases at https://github.com/nwjs-ffmpeg-prebuilt/nwjs-ffmpeg-prebuilt/releases don't mention what version of Chromium they're built for.

[2022-06-05 09:12] ostwindli opened #136 "no version for 0.57.1, what can i use?"

[2022-07-06 05:50] #107 closed

[2022-07-06 05:50] #125 closed

[2022-07-06 05:50] #127 closed

[2022-07-06 05:50] #136 closed

[2022-07-06 05:50] #116 closed

[2022-07-13 06:19] #22 closed

[2022-07-13 06:19] #92 closed

[2022-07-13 06:19] #93 closed

[2022-07-13 06:19] #97 closed

[2022-07-13 06:19] #103 closed

[2022-07-13 06:19] #118 closed

[2022-07-13 06:19] #111 closed

[2022-07-13 06:19] #119 closed

[2022-07-13 06:19] #124 closed

[2022-07-13 06:19] #129 closed

[2022-07-20 16:42] #117 closed

[2022-07-21 08:30] ostwindli commented on #136
@zkrige why closed?

[2022-07-21 08:32] zkrige commented on #136
I can't build for older versions of nwjs. If possible can you upgrade to a newer nwjs and use one of the builds here

[2022-07-21 08:36] ostwindli commented on #136
Fine, I will try to upgrade nwjs soon.
But, before this,  can you tell me how to build a ffmpeg version ?

[2022-07-21 13:32] ostwindli commented on #136
get. thks

[2022-07-25 15:01] #135 closed

[2022-08-02 19:42] ndeshpande2022 opened #138 "setup_toolchain.py failing on windows build"
Hi there,

I was wondering if I could get some help building the FFMPEG files on Windows. It seems to be failing when it gets to the setup_toolchain.py script.

I've attached a copy of the log output below. Are you able to take a look and let me know what I may be doing wrong? Or if there is additional information I can post? Thanks!

[build_log.txt](https://github.com/nwjs-ffmpeg-prebuilt/nwjs-ff

[2022-08-02 20:32] ndeshpande2022 commented on #138
It appears that I needed to install the correct Windows SDK (Available here: https://developer.microsoft.com/en-us/windows/downloads/sdk-archive/). I'm not sure how you would know which sdk to install until you see the error? But maybe someone else does.

Everything seems to be working now. This ticket can be closed.

[2022-08-02 20:32] #138 closed

[2022-08-08 04:50] ayushmxn opened #139 "Request to move repo under NW Userland"
Hi @zkrige,

I've recently created a GitHub org called [NW Userland](https://github.com/nw-userland) which is my attempt to consolidate NW tooling so it's easier to find useful projects and give much needed life to stagnant ones. I also think this would be a great opportunity to exchange ideas and learn new things. Let me know what you think and if you’d be willing to.

Best Regards
Ayushman

[2022-08-08 06:26] zkrige commented on #139
I don't think we can move it there. There are a lot of third party dependencies that depend on this specific GitHub url. Also, I'm not really the owner - @iteufel is the owner. I'm just maintaining as he is quite busy and unable to maintain currently

[2022-08-08 06:29] ayushmxn commented on #139
Ah ok, good to know!

[2022-08-08 06:29] #139 closed

[2022-08-18 02:51] Sunvas opened #140 "Any upgrade for 0.67.1 ?"
Can you provide upgrade for 0.67.1 ?

[2022-08-19 14:31] fm10000 commented on #140
me,too.

[2022-08-27 02:31] #140 closed

[2022-08-27 02:34] Sunvas commented on #140
Available

[2022-08-30 18:49] ahmedmoselhi opened #141 "latest libffmpeg.so not working with Chromium 104.0.5112.39"
i tried latest release 0.67.1 fir linux amd64 on latest Chromium 104.0.5112.39 but audio decoding not work
please make an update to fix that

[2022-09-23 22:47] Yaguar666 opened #142 "No more releases for Linux ia32?"
Hi!
I tried release 0.68.1 for Linux ia32, but NW doesn't start...

Found that ./libffmpeg.so was build for x86-64

@debian:~$ readelf -h ./libffmpeg.so
ELF Header:
  Magic:   7f 45 4c 46 02 01 01 00 00 00 00 00 00 00 00 00
  Class:                             ELF64
  Data:                              2's complement, little endian
  Version:                           1 (current)
  OS/ABI:

[2022-10-05 20:15] Sunvas opened #143 "Any upgrade for 0.69.1 ?"
Can you provide upgrade for 0.69.1 ?

[2022-10-19 11:22] zkrige commented on #143
done!

[2022-10-19 11:22] #143 closed

[2022-10-19 11:23] zkrige opened #144 "I need help upgrading GitHub actions"
our build is giving the following warning

`Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: actions/setup-node, actions/checkout, actions/upload-artifact, actions/checkoutShow more`

is there anyone in this communit

[2022-11-07 01:53] #141 closed

[2022-11-23 19:02] Yaguar666 commented on #142
up